<h2>Your Picks</h2>
  <% @order_items.each do |order_item| %>
    <div class="addedFoodDiv"> 
      <%= order_item.item.name %>
      <%= order_item.item.description %>
      <%= order_item.item.price %> 
    </div>
  <% end %>
<div class="totalPrice">
  <h4> Total Price: <%= number_to_currency @order.subtotal, unit: "kr", separator: ",", format: "%n %u" %></h4>
</div>