body {
  background-image: url(https://image.freepik.com/free-vector/hand-drawn-vegetables-fruit-pattern_23-2148241420.jpg);
  font-family: Garamond,Perpetua,'Times New Roman',serif;
}

img {
  margin-top: 5em;
}

.container {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 100%;
}

#green {
  color: rgb(5, 197, 5);
  font-size: 60px;
}

#topPicks {
  background-color: rgba(232, 228, 228);
  width: 100%;
  margin-bottom: 20px;
}

.card {
  margin-left: 10px;
  width: 30%;
  display: inline-table;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
}

.innerCard {
  padding: 5px;
  background-color: rgba(232, 228, 228, 0.954);
}

.notice {
  font-size: 20px;
  background-color: darkgray;
}
